@tailwind base;
@tailwind components;
@tailwind utilities;
$prefix: "sc-";
$primary: #02C39A;
$secondary: #87BFFF;
$tertiary: #3F8EFC;
$quaternary: #2667FF;
$quinary: #3B28CC;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
*::selection {
	background-color: mix($primary, $quinary, 0.5);
	color: lighten($color: $primary, $amount: 98);
	opacity: 20%;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}